:root {
    --primary: #38544d;
    --secondary: #eee;
}
.page-wrapper {
    gap: 2rem;
}
nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 75%);
    padding: 1rem 0;
    background-color: var(--primary);
    font-weight: 900;
    color: var(--secondary);
}
nav h1 {
    font-size: 2rem;
}
.nav-row a{
    padding: 4px 8px;
    border-radius: 5px;
}
.nav-row a:hover {
    background-color: var(--secondary);
    color: var(--primary);
    transition: all .3s ease;
    transform: scale(1.05);
}
.nav-row {
    gap: 1rem;
}
.post-card {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
    min-width: 23%;
    max-width: 23%;
    height: 13rem;
}
.post-card:hover {
    transform: scale(1.05);
    transition: all .3s ease;
    border-color: var(--primary);
}
.post-cards-row {
    flex-wrap: wrap;
    gap: 1rem;
}
.post-title-row h3{
    border-bottom: 1px solid var(--primary);
    width: 50%;
    text-align: center;
    color: var(--primary);
    font-weight: 900;
    cursor: pointer;
}
.posts-title-row {
    border-bottom: 4px solid var(--primary);
}
.posts-container {
    gap: 2rem;
}
#search-input {
    border: 1px solid var(--primary);
    outline: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 1rem;
    margin-bottom: .5rem;
}
#search-input::placeholder {
    font-size: 1rem;
    opacity: 25%;
}
#search-btn {
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: 900;
    cursor: pointer;
    margin-bottom: .5rem;
}