<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head"> <!-- th:fragment="head" -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Partials</title>

    <link rel="stylesheet" href="/css/resets.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="page-wrapper justify-space-between">
    <nav th:fragment="navbar" class="container"> <!-- th:fragment="navbar" -->
        <div class="row align-center no-padding">
            <div class="column shrink">
                <h1><a href="/">Spring Blog</a></h1>
            </div>
            <div class="column">
                <div class="row grow justify-right no-padding nav-row">
                    <a href="/posts">View Posts</a>
                    <a href="/posts/create">Create Post</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>